.carousel {
  min-height: 320px;
  overflow: hidden; }
  .carousel img {
    width: 100%;
    min-height: 320px !important; }

.navbar {
  margin-bottom: 0px; }

h1 {
  font-size: 27px; }

h2 {
  font-size: 20px; }

h3 {
  font-size: 16px; }

.list-wrap {
  text-align: center; }
  .list-wrap .item {
    position: relative;
    width: 100%;
    margin-bottom: 12px; }
    .list-wrap .item img {
      width: 100%;
      height: 200px; }
    .list-wrap .item p {
      position: absolute;
      left: 0;
      width: 100%;
      height: 36px;
      line-height: 36px;
      bottom: -10px;
      color: #fff;
      font-size: 14px;
      background-color: rgba(0, 0, 0, 0.6); }
    .list-wrap .item .info {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.6);
      color: #fff; }
      .list-wrap .item .info h1 {
        font-size: 18px;
        margin: 8px 0; }
      .list-wrap .item .info h3 {
        font-size: 14px;
        margin-top: 0; }
  .list-wrap .two img {
    width: 100%;
    height: 240px; }
  .list-wrap .two p {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    line-height: 240px;
    background-color: transparent;
    color: transparent; }
  .list-wrap .two p:hover {
    display: block;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    font-size: 24px; }
  .list-wrap .three p {
    background-color: rgba(0, 0, 0, 0.6); }

.border {
  border-bottom: 2px solid #999;
  width: 300px;
  padding: 12px 0; }

footer {
  text-align: center;
  background-color: #32383a;
  color: #fff;
  padding: 12px; }
  footer .menu {
    margin: 12px; }
  footer span {
    padding: 0 12px; }
  footer p {
    font-size: 12px; }

.display h1 {
  font-size: 18px;
  text-align: left; }

.about .intrl {
  margin: 8px 0; }

.about .col-xs-12, .about .col-md-8 {
  padding: 0; }

.about .col-md-4 img {
  width: 100%; }

.book {
  text-align: center;
  background-color: #32383a;
  margin-bottom: 8px;
  padding-bottom: 8px;
  color: #FFF; }
  .book img {
    width: 280px;
    margin-bottom: 4px; }

.contact header {
  width: 100%; }

.contact .row img {
  max-height: 237px;
  float: right; }

.build .introl img {
  width: 280px;
  max-height: 231px; }
