.carousel {
  min-height: 320px;
  overflow: hidden; }
  .carousel img {
    width: 100%;
    min-height: 320px !important; }

.navbar {
  margin-bottom: 0px; }

h1 {
  font-size: 27px; }

h2 {
  font-size: 20px; }

.list-wrap {
  text-align: center; }
  .list-wrap .item {
    position: relative;
    width: 100%;
    margin-bottom: 12px; }
    .list-wrap .item img {
      width: 100%; }
    .list-wrap .item p {
      position: absolute;
      left: 0;
      width: 100%;
      height: 48px;
      line-height: 48px;
      background-color: rgba(0, 0, 0, 0.6);
      bottom: -10px;
      color: #fff;
      font-size: 18px; }

footer {
  text-align: center;
  background-color: #32383a;
  color: #fff;
  padding: 12px; }
  footer .menu {
    margin: 12px; }
  footer span {
    padding: 0 12px; }
  footer p {
    font-size: 12px; }

.display h1 {
  font-size: 24px;
  text-align: left; }

.about img {
  width: 100%; }

.contact img {
  max-height: 237px;
  float: right; }

.build img {
  width: 231px; }
