footer{
    text-align: center;
    background-color: #32383a;
    color: #fff;
    padding: 12px;
    .menu{
        margin: 12px;
    }
    span{
        padding: 0 12px;
    }
    p{
        font-size: 12px;
    }
}